@darkGrey: #636363;
@lightGrey: #D1D1D1;
@dirtyWhite: #F3F3F3;
@grey: #A2A2A2;
@lightBlue: #E2E5FF;
@headerFont: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;

.green {
	background-color:#53a537;
	a {
		color:white;
	}
}

.blue {
	background-color:#3759a5;
	a {
		color:white;
	}
}

.orange {
	background-color:#a56637;
	a {
		color:white;
	}
}

.pink {
	background-color:#a137a5;
	a {
		color:white;
	}
}

.yellow {
	background-color:#9fa537;
	a {
		color:white;
	}	
}

.grey {
	background-color: @darkGrey;
	a {
		color:white;
	}
}

	
a {
	text-decoration:none;
}

li {
	list-style-type: none;
	
}

.logo {
	height: 36px;
	width: 114px;
	background-image:url('../images/logo.png');
}

#tabs {
	margin-top:5px;
	
	li {
		float: left;
/*		display:inline;*/
		list-style-type: none;
		padding: 10px;
		border:1px solid @darkGrey;
		border-bottom:0px;
		margin: 5px 5px 0 5px;
		font-weight:bold;
	}
	
	li.main {
		padding:0px;
		border:1px solid #4a0000;
		border-bottom:none;
	}
}

.ui-tabs-nav {
	.ui-state-default {
		
	}
}

.ui-state-default {
	border:1px solid black;
	color: @darkGrey;
	background-color: @dirtyWhite;
	border:1px solid @darkGrey;
}

.ui-state-active {
	background-color:@lightBlue;
	border-bottom:none;
	position:relative;
}

#main {
	height: 601px;
	position:relative;
	margin-bottom:20px;
}

#leftPane {
	height: 100%;
	position:relative;
	
}

#leftContent {
	height:100%;
	
	header {
		font: 17px Helvetica, "Trebuchet MS", Verdana, sans-serif;
		text-align:center;
		padding:5px 0px;
		margin-right:-1px;
		border:1px solid #3D3D3D;
		
		color: white;
		background-image: -webkit-gradient(linear,
		    left bottom,
		    left top,
		    color-stop(0, rgb(41,41,41)),
		    color-stop(1, rgb(148,148,148))
		);
		background-image: -moz-linear-gradient(center bottom,
		    rgb(41,41,41) 0%,
		    rgb(148,148,148) 100%
		);
		
		
	}
	
	ul {
		padding: 10px 5px 10px 5px;
	}
	
	.links {
/*		padding:5px;*/
		li {
			margin:5px;
		}
	}
}

.ui-accordion-content {
/*	padding: 0px !important;*/
}


#mainContent {
	padding: 5px;
}

#mainPane {

}

#assignment {
	border: 1px solid @lightGrey;
	padding: 15px;
	height: 568px;
}

.day {
	background-color: @dirtyWhite;
	height: 199px;
	border-right:1px solid @lightGrey;
	border-bottom:1px solid @lightGrey;
	position:relative;
	header {
		padding: 5px;
		margin:0px;
		font: @headerFont;
		color: @grey;
	}

	
	.todo {
		margin-left: 10px;
		
		ul {
			list-style-type: none;
		}
		
		.time {
			font-size:75%;
			color: @lightGrey;
			padding:5px;
			position:relative;
			top:2px;
		}
		
		.name {
			position:relative;
			top:2px;
		}
		
		.class {
			position:relative;
			top:1px;
			padding: 3px 5px 2px 5px;
			color: white;
			font-weight:bold;
			-moz-border-radius: 4px;
			border-radius: 4px;
			font-size:75%;
		}
		
		li {
			margin: 4px 0;
		}
	}
	
	.todo.done {
		position:absolute;
		bottom:5px;
	
		.name, .class {
			text-decoration: line-through;
		}
	}
}

	
.day.today {
	background-color: @lightBlue;
}

.mon,.tues {
	border-top: 1px solid @lightGrey;
}

.mon, .wed, .fri {
	border-left: 1px solid @lightGrey;
}

ol, ul {
	margin:0;
	padding:0;
}

.createButton {
	position:absolute;
	bottom:1px;
	width: 125px;
	left: 7px;
}

button {
	height: 30px;
}

.goCourseCalendar {
	width: 140px;
}

/* Dialog */
.ui-dialog-titlebar {
	color: white;
	background-image: -webkit-gradient(linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(41,41,41)),
	    color-stop(1, rgb(148,148,148))
	);
	background-image: -moz-linear-gradient(center bottom,
	    rgb(41,41,41) 0%,
	    rgb(148,148,148) 100%
	);
	font-size: 16px;
}

.ui-dialog .ui-dialog-content { position: relative; border: 1px solid black; padding: .5em 1em; background: white; overflow: auto; zoom: 1; }

#createEvent {
	input, textarea, select {
/*		padding: 2px;*/
		width: 100%;
		margin: 5px 0; 
		height: 15px;
	}
	
	textarea {
		height: 40px;
	}
	
	
	button {
		float:right;
		margin: 5px;
		height: 30px;
	}
}

