#tabs {
  margin-top: 5px;
}
.ui-state-default {
  border: 1px solid black;
  color: #636363;
  background-color: #f3f3f3;
  border: 1px solid #636363;
}
.ui-state-active {
  background-color: #e2e5ff;
  border-bottom: none;
  position: relative;
}
#main {
  height: 601px;
}
#leftPane {
  height: 100%;
  position: relative;
}
.leftContent {
  border-right: 1px solid #a2a2a2;
  height: 100%;
}
.leftContent header {
  font: 17px Helvetica, "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  padding: 5px 0px;
  margin-right: -1px;
  border: 1px solid #3D3D3D;
  color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #292929), color-stop(1, #949494));
  background-image: -moz-linear-gradient(center bottom, #292929 0%, #949494 100%);
}
.leftContent .classes {
  padding: 10px 5px 10px 5px;
}
.leftContent .links {
  /*		padding:5px;*/

}
.leftContent .links li {
  margin: 5px;
}
.ui-accordion-content {
  padding: 0px !important;
}
#mainContent {
  padding: 5px;
}
#assignment {
  border: 1px solid #d1d1d1;
  padding: 15px;
  height: 568px;
}
.day {
  background-color: #f3f3f3;
  height: 199px;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  position: relative;
}
.day header {
  padding: 5px;
  margin: 0px;
  font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color: #a2a2a2;
}
.day .todo {
  margin-left: 10px;
}
.day .todo ul {
  list-style-type: none;
}
.day .todo .time {
  font-size: 75%;
  color: #d1d1d1;
  padding: 5px;
  position: relative;
  top: 2px;
}
.day .todo .name {
  position: relative;
  top: 2px;
}
.day .todo li {
  margin: 4px 0;
}
.day .todo.done {
  position: absolute;
  bottom: 5px;
}
.day .todo.done .name {
  text-decoration: line-through;
}
.day.today {
  background-color: #e2e5ff;
}
.mon, .tues {
  border-top: 1px solid #d1d1d1;
}
.mon, .wed, .fri {
  border-left: 1px solid #d1d1d1;
}
ol, ul {
  margin: 0;
  padding: 0;
}
.createButton {
  position: absolute;
  bottom: 0;
  width: 125px;
  left: 7px;
}
button {
  height: 30px;
}
/* Dialog */
.ui-dialog-titlebar {
  color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #292929), color-stop(1, #949494));
  background-image: -moz-linear-gradient(center bottom, #292929 0%, #949494 100%);
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 1px solid black;
  padding: .5em 1em;
  background: white;
  overflow: auto;
  zoom: 1;
}
.createEvent input, .createEvent textarea, .createEvent select {
  /*		padding: 2px;*/

  width: 100%;
  margin: 5px 0;
  height: 20px;
}
.createEvent textarea {
  height: 40px;
}
.createEvent button {
  float: right;
  margin: 5px;
  height: 30px;
}
