#tabs {
  height: 700px;
  margin-top: 5px;
}
.ui-state-default {
  border: 1px solid black;
  margin: 0 2px;
  color: #636363;
  background-color: #f3f3f3;
  border: 1px solid #636363;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.ui-state-active {
  background-color: #e2e5ff;
  border-bottom: none;
  position: relative;
}
#main {
  height: 601px;
}
#leftPane {
  height: 100%;
}
#leftContent {
  border-right: 1px solid #a2a2a2;
  height: 100%;
}
#leftContent header {
  font: 17px Helvetica, "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  padding: 5px 0px;
  margin-right: -1px;
  border: 1px solid #3D3D3D;
  color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #292929), color-stop(1, #949494));
  background-image: -moz-linear-gradient(center bottom, #292929 0%, #949494 100%);
}
#leftContent .todo {
  padding: 10px 5px;
}
#mainContent {
  padding: 5px;
}
.day {
  background-color: #f3f3f3;
  height: 199px;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}
.day header {
  padding: 5px;
  margin: 0px;
  font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color: #a2a2a2;
}
.day.today {
  background-color: #e2e5ff;
}
.mon, .tues {
  border-top: 1px solid #d1d1d1;
}
ol, ul {
  margin: 0;
  padding: 0;
}
